.card-container{
    width: 20vw;
    height: auto;
    align-items: center;
    text-align: justify;
    justify-content: center;
    z-index: 2;
}
.card{
    height: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: auto;
    background-color: #F2EEE8;
    border: 1px solid #B3C4CE;
    border-radius: 5px;
    z-index: 999;
}
.card-header{
    border: none;
    padding: 15px;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}
.card-body {
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1vw;
    font-weight: normal;
    width: 100%;
  }
.card-footer {
    margin: 20px;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .column{
      padding: 20px;
  }
  .link-div{
      /**
       * Required properties to achieve text-overflow
       */
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
  }

  mat-divider{
      border-color: #B3C4CE;
  }
  .button{
    background-color: #E5F2FA;
    padding: 5px;
    width: auto;
    max-width: 7vw;
    margin: auto;
    border: 1px solid #B3C4CE;
    cursor: pointer;
    border-radius: 5px;

  }