<div class="card-container">
    <div class="card">
        <div class="card-header">
            <label> Lime Stone</label>
            <mat-divider></mat-divider>
        </div>
        <div class="card-body">
            <div class="row">
                <label style="font-size:1vw; text-transform: capitalize !important;">{{currentRestaurantName}}</label>
            </div>
        </div>
        <div class="row card-footer">
            <div  class="button" (click)="generateNewRestaurant()">Generate</div>
        </div>
    </div>
</div>
<a style="float: right; color:inherit;text-decoration:none!important;font-size:08px;" 
href="mailto:ajay.kumar.rajamundry@cybercom.com?
subject=You%20are%20awesome!!">feedback</a>